$ns: 'portal';
.#{$ns}-layer {
    .#{$ns}-layer-mask {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(16, 16, 18, 0.8);
        pointer-events: auto;
        opacity: 0;
        &.#{$ns}-layer-mask-open {
            opacity: 1;
            transition: all 350ms linear;
        }
        &.#{$ns}-layer-mask-close {
            opacity: 0;
            transition: all 350ms linear;
        }
    }
    .#{$ns}-layer-content {
        display: flex;
        justify-content: center;
        outline: none;
        margin: 1.75rem auto;

        &.centered {
            align-items: center;
            min-height: calc(100% - 2 * 1.75rem);
        }
        &.scale {
            transform: scale(0.5);
        }

        &.#{$ns}-layer-content-open.scale {
            transform: scale(1);
            transition: all 250ms ease-out;
        }

        &.#{$ns}-layer-content-close.scale {
            transform: scale(0.4);
            transition: all 150ms ease-out;
        }
        &.slideDown {
            transform: translate3d(0, -25%, 0);
            opacity: 0.2;
        }
        &.#{$ns}-layer-content-open.slideDown {
            transform: translate3d(0, 0, 0);
            opacity: 1;
            transition: all 250ms ease-out;
        }
        &.#{$ns}-layer-content-close.slideDown {
            transform: translate3d(0, -25%, 0);
            opacity: 0.3;
            transition: all 150ms ease-out;
        }
    }
}
